<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bue.shoppingplanner.free"
    android:installLocation="preferExternal"
    android:versionCode="3"
    android:versionName="0.9.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--<uses-permission android:name="android.permission.VIBRATE" />    
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    -->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowClearUserData="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bue.shoppingplanner.free.MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bue.shoppingplanner.free.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.bue.shoppingplanner.free.IntroActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.bue.shoppingplanner.free.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bue.shoppingplanner.free.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.bue.shoppingplanner.free.views.ShoppingListActivity"
            android:label="@string/title_activity_shopping_list"
            android:parentActivityName="com.bue.shoppingplanner.free.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bue.shoppingplanner.free.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.bue.shoppingplanner.free.views.StatsActivity"
            android:label="@string/title_activity_stats"
            android:parentActivityName="com.bue.shoppingplanner.free.views.StatisticsMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bue.shoppingplanner.free.views.StatisticsMenuActivity" />
        </activity>
        <activity
            android:name="com.bue.shoppingplanner.free.views.ShopsActivity"
            android:label="@string/manage_shops"
            android:parentActivityName="com.bue.shoppingplanner.free.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bue.shoppingplanner.free.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.bue.shoppingplanner.free.views.SavedListsActivity"
            android:label="@string/title_activity_saved_lists"
            android:parentActivityName="MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bue.shoppingplanner.free.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.bue.shoppingplanner.free.views.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.bue.shoppingplanner.free.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bue.shoppingplanner.free.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.bue.shoppingplanner.free.utilities.fileselector.FileSelectorActivity"
            android:label="@string/select_file"
            android:parentActivityName="com.bue.shoppingplanner.free.views.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bue.shoppingplanner.free.views.SettingsActivity" />
        </activity>
        <activity android:name="com.bue.shoppingplanner.free.utilities.ScanBarcodeFragmentActivity" >
        </activity>
        <activity
            android:name="com.bue.shoppingplanner.free.views.DatabaseMenuActivity"
            android:label="@string/title_activity_database_menu"
            android:parentActivityName="com.bue.shoppingplanner.free.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bue.shoppingplanner.free.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.bue.shoppingplanner.free.views.ManageProductsActivity"
            android:label="@string/title_activity_manage_products"
            android:parentActivityName="com.bue.shoppingplanner.free.views.DatabaseMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bue.shoppingplanner.free.views.DatabaseMenuActivity" />
        </activity>
        <activity
            android:name="com.bue.shoppingplanner.free.views.ExchangeRatesActivity"
            android:label="@string/title_activity_exchange_rates"
            android:parentActivityName="com.bue.shoppingplanner.free.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bue.shoppingplanner.free.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.bue.shoppingplanner.free.views.ManageTableActivity"
            android:label="@string/title_activity_manage_buyers"
            android:parentActivityName="com.bue.shoppingplanner.free.views.DatabaseMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bue.shoppingplanner.free.views.DatabaseMenuActivity" />
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.bue.shoppingplanner.free.views.StatisticsMenuActivity"
            android:label="@string/title_activity_statistics_menu" 
            android:parentActivityName="com.bue.shoppingplanner.free.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bue.shoppingplanner.free.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.bue.shoppingplanner.free.views.PriceInTimeChartActivity"
            android:label="@string/title_activity_price_in_time_chart"
            android:parentActivityName="com.bue.shoppingplanner.free.views.StatisticsMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bue.shoppingplanner.free.views.StatisticsMenuActivity" />
        </activity>
    </application>

</manifest>